@import '../../styles/themify.scss';

.copyButton {

  overflow: hidden;
  display: flex;
  height: 24px;

  &.titled {
    font-size: 13px;

    .copyButton-feedback {
      .actionTitle {
        margin-top: 0;
      }
    }

  }

  span.copyButton-icon-holder {
    position: static;
  }

  .actionIcon {
    font-size: 16px;
  }

  /* This fires as soon as the element enters the DOM */
  .copy-transition-enter {
    opacity: 0;
  }

  /* This is where we can add the transition*/
  .copy-transition-enter-active {
    opacity: 1;
  }

  /* This fires as soon as the this.state.showList is false */
  .copy-transition-exit {
    opacity: 1;
  }

  /* fires as element leaves the DOM*/
  .copy-transition-exit-active {
    opacity: 0;
  }

  .copyButton-feedback {
    display: flex;
    gap: 2px;
  }

  .copyButton-icon-holder {
    //position: absolute;
    //left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 16px;

    &:hover {
      @include themify() {
        color: themeprop('$whiteColor');
      }
    }

    transition: opacity 200ms ease-in-out;
  }



  .copyButton-feedback {
    @include themify() {
      color: themeprop('$whiteColor');
    }
    .actionTitle {
      //position: absolute;
      margin-top: 2px;
      text-align: right;
    }
    font-size: 12px;
    transition: opacity 200ms ease-in-out;
  }

  .copyButton-placement-left {
    //right: 0;
  }
}

