@import '../../styles/themify.scss';

:root {
  @include themify(1) {
    --onboard-connect-header-background: #{themeprop('formBackgroundColor')};
    --onboard-connect-header-color: #{themeprop('whiteColor')};
    --onboard-shadow-2: inset 0px -1px 0px rgba(255, 255, 255, 0.1);

    --onboard-main-scroll-container-background: #{themeprop('formBackgroundColor')};

    --onboard-connect-sidebar-background: #{themeprop('darkerComponentColor')};
    --onboard-connect-sidebar-color: #{themeprop('whiteColor')};

    --onboard-close-button-background: #{themeprop('darkerComponentColor')};
    --onboard-close-button-color: #{themeprop('whiteColor')};

    --onboard-wallet-button-background: #{themeprop('darkerComponentColor')};
    --onboard-wallet-button-color: #{themeprop('whiteColor')};

    --onboard-wallet-button-background-hover: #{themeprop('pillSelectedColor')};
    --onboard-wallet-app-icon-background-color: #{themeprop('whiteColor')};
  }

  --onboard-wallet-button-border-color: transparent;
  --onboard-wallet-app-icon-border-color: transparent;
}

.signForm {
  .signFormConnect {
    text-align: center;
    flex-grow: 1;

    .signFormConnect-text {
      margin-bottom: 8px;
    }
  }

  .connectedBar {
    margin-top: 24px;
    padding: 8px;
    @include themify() {
      background: themeprop('barComponentBackgroundColor');
    }
    border-radius: 8px;
    display: flex;

    span {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 4px;
      line-height: 26px;
      @include themify() {
        color: themeprop('barComponentColor');
      }
    }

    button {
      border-radius: 4px;
      padding: 4px 16px;
    }

    .button-disconnect {
      @include themify() {
        background: themeprop('dangerColor');
      }
    }

    .button-connect {
      margin: auto;
    }
  }

  .signatureResult-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
    position: relative;


    .signatureResult-actions {
      font-size: initial;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      gap: 4px;
    }

    .copyHolder, .shareHolder {
      cursor: pointer;
      background-color: rgba(0,0,0,0.2);
      padding: 2px 4px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 2px;
      min-width: 30px;

      .copyButton {
        height: auto;
      }

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }

      span.actionIcon {
        font-size: 14px;
        height: 14px;
      }

      span.actionTitle {
        font-size: 13px;
      }
    }
  }

  .signatureResult-signature {
    font-family: Courier, monospace, Courier New;
    line-break: anywhere;
  }

  .diceRoller {
    transform: rotate(0deg);

    &.rolling {
      transition: transform 350ms ease-in;
      transform: rotate(360deg);
    }
  }


}

